<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles">
  <title>Exo App | Forgot Password</title>
</head>

<body class="bg-dark bg-forgot">
  <section>
    <div class="tengah-custom atas-custom">
      <div class="card p-3 text-white bg-dark shadow  card-form-ku">
        <span class="badge badge-pill badge-danger text-white in" style="width: 120px;align-self: flex-end;"></span>
        <div class="card-body">
          <h2 class="font-weight-light">Duh.... Aku lupa Password nih? <i class="fa fa-sad-tear"></i></h2>
          <p class="mb-4"><span class="text-warning">Exo App: </span> Jangan khawatir..Segera kirim permintaan reset
            password, tunggu konfimasinya. beres deh. <i class="fa fa-lock"></i></p>

          <div th:if="${param.succes}">
            <div class="alert alert-warning">
              Siipp..Kamu berhasil meminta reset password, Kuy cek email.
            </div>
          </div>

          <form th:action="@{/forgot-password}" th:object="${forgotPasswordForm}" method="post">
            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <div class="input-group">
                      <input id="email" class="form-control" placeholder="Alamat email" th:field="*{email}"/>
                     </div>
                    <small class="error-message text-warning" th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</small>
                    </div>
                    <div class="form-group">
                      <button onclick="cekKoneksi()" type="submit" class="btn btn-success btn-block" id="btn-kirim">Reset
                        Password</button>
                    </div>
                 </form>
        
         <div class="text-left mt-5 my-3">
        <p>Punya akun? <a href="/login">Sign In</a> | Masih baru? <a href="/sign-up">Sign Up</a></p>
         </div>
         <div class="text-right">
           <small><a class="text-white" href="/">Exo App V.1.0 | Home</a></small>
         </div>
</div>
</div>
</div>
</section>
  <div class="fixed-bottom mb-4 text-white-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Copyright Exo App © 2020. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <source th:insert="fragments.html :: js">
</body>

</html>