<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles">
  <title>Exo App | Reset Password</title>
</head>

<body class="bg-dark bg-reset">

  <div class="tengah-custom atas-custom">
    <div class="card p-3 text-white bg-dark shadow card-form-ku">
      <div class="card-body">
        <h2 class="font-weight-light">Yee... Awas lupa lagi passwornya. <i class="fa fa-smile-beam"></i></h2>
        <p class="mb-4"><span class="text-warning">Exo App: </span> Semoga berhasil ya. <i class="fa fa-lock-open"></i>
        </p>

        <div th:if="${error}">
          <div class="alert alert-warning">
            <span th:text="${error}"></span>
          </div>
        </div>

        <form th:action="@{/reset-password}" th:object="${passwordResetForm}" method="post">
          <p class="text-warning" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>
          <input type="hidden" name="token" th:value="${token}"/>

                  <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error text-warning small':''">
                    <div class="input-group">
                        <input id="password" class="form-control" placeholder="Password" type="password" th:field="*{password}"/>
                    </div>
                      <p  th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>
                  </div>
                                      
                  <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error text-warning small':''">
                    <div class="input-group">
                    <input id="confirmPassword" class="form-control" placeholder="Ulangi password" type="password" th:field="*{confirmPassword}"/>
                    </div>
                      <p  th:each="error: ${#fields.errors('confirmPassword')}" th:text="${error}">Validation error</p>
                  </div>
                  
                  <div class="form-group">
                      <button type="submit" class="btn btn-block btn-success">Reset password</button>
                  </div>
              </form>

              <div class="text-left mt-5 my-3">
                  <p>Punya akun? <a href="/login">Sign In</a> | Masih baru? <a href="/sign-up">Sign Up</a></p>
              </div>
              <div class="text-right">
                <small><a class="text-white" href="/">Exo App V.1.0 | Home</a></small>
              </div>
      </div>
    </div>
</div>

</body>

</html>