<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles">
</head>

<body class="bg-dark">
  <div class="container">
    <section>
      <div class="container text-white">
        <h5 class="display-4 mt-3">
          Halaman Resend Kode <i class="fa fa-ghost"></i>
        </h5>
      </div>
    </section>
    <div class="row py-3">
      <div class="col-md-7 text-center mt-5">
        <div class="col">
          <img src="/img/login.svg" class="align-self-center" style="width: 500px;">
        </div>
        <a class="btn btn-outline-light my-3" href="/">Go to Home Page</a>
        <div class="col-md-12 text-center text-white mt-5">
          <p>Copyright Exo App © 2020. All rights reserved.</p>
        </div>
      </div>
      <div class="col-md-5 mt-5 px-auto">
        <div class="card card-sm card-form-ku mx-auto">
          <div class="card-block p-4">
            <form th:action="@{/resend-token}" th:object="${resendCodeDto}" method="post">
              <div class="form-group input-group-lg">
                <label for="email">Email </label>
                <input type="text" th:field="*{email}" class="form-control mb-1" id="email" name=" email"
                  autocomplete="off" autofocus>
                <small class="text-danger" th:each="error : ${#fields.errors('email')}" th:text="${error}"></small>
              </div>
          <div class="form-actions">
            <button type="submit" class="btn btn btn-dark btn-lg btn-block">Kirim Ulang</button>
          </div>
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<source th:insert="fragments.html :: js">
</body>

</html>