<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles">
  <title>Exo App | Registrasi</title>
</head>

<body class="bg-dark">

  <div class="container-fluid">
    <section>
      <div class="container text-white">
        <h5 class="display-4 mt-2">
          Register Page <i class="fa fa-ghost"></i>
        </h5>
      </div>
    </section>
    <div class="row">
      <div class="col-md-7 text-center">
        <div class="col-md">
          <img src="/img/login.svg" class="align-self-center" style="width: 500px;">
        </div>
        <a class="btn btn-outline-light my-5" href="/">Go to Home Page</a>
        <div class="col-md-12 text-center mt-3 text-white">
          <p>Copyright Exo App © 2020. All rights reserved.</p>
        </div>
      </div>
      <div class=" col-md py-3 ml-3 px-5">
        <div class="card my-auto shadow card-form-ku">
          <span class="badge badge-pill mr-3 mt-2 badge-primary text-white un"
            style="width: 120px;align-self: flex-end;"></span>
          <div class="card-block p-4">
            <form class="login100-form validate-form" th:action="@{/sign-up}" th:object="${accountCreateDto}"
              method="post">

              <div class="form-group input-group-md">
                <label for="username">Username <span class="small text-info">*ditulis tanpa spasi.</span></label>
                <input type="text" th:field="*{username}" class="form-control" id="username" name="username"
                  autocomplete="off" autofocus>
                <small class="text-danger" th:each="error : ${#fields.errors('username')}" th:text="${error}"></small>
              </div>

              <div class="form-group input-group-md">
                  <label for="email">Email <span class="small text-info">*Harus format email.</span></label>
                  <input type="text" th:field="*{email}" class="form-control" id="email" name=" email"
                    autocomplete="off" autofocus>
                  <small class="text-danger" th:each="error : ${#fields.errors('email')}" th:text="${error}"></small>
              </div>

               <div class="form-group input-group-md">
                 <label for="password">Password <span class="small text-info">*Password harus terdiri minimal satu
                     spesial karakter, hurup kapital dan angka.</span></label>
                 <input type="password" th:field="*{password}" class="form-control" id="password" name="password"
                   autocomplete="off" autofocus>
                 	<small class="text-danger" th:each="error : ${#fields.errors('password')}" th:text="${error}"></small>
              </div>

               <div class="form-group input-group-md">
                 <label for="repeatPassword">Repeat Password</label>
                 <input type="password" th:field="*{repeatPassword}" class="form-control" id="repeatPassword" name="repeatPassword"
                  
                   autocomplete="off" autofocus>
                 	<small class="text-danger" th:each="error : ${#fields.errors('repeatPassword')}" th:text="${error}"></small>
              </div>
               <div class="form-actions" style="margin-top: 12px;">
                 <button id="btn-submit" onclick="cekKoneksiSubmit()" type="submit"
                   class="btn btn btn-dark btn-lg btn-block">Submit</button>
               </div>
				</form>
            <div class="text-left mt-2 my-3">
              <p>Punya akun? <a href="/login">Sign In</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <source th:insert="fragments.html :: js">

</body>

</html>