<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles">
  <title>Exo App | Verifikasi Kode</title>
</head>

<body class="bg-dark">
  <div class="container">
    <section>
      <div class="container text-white">
        <h5 class="display-4 mt-3">
          Halaman Verifikasi Kode <i class="fa fa-ghost"></i>
        </h5>
      </div>
    </section>
    <div class="row py-3">
      <div class="col-md-7 text-center mt-5">
        <div class="col">
          <img src="/img/login.svg" class="align-self-center" style="width: 500px;">
        </div>
        <a class="btn btn-outline-light my-3" href="/">Go to Home Page</a>
        <div class="col-md-12 text-center text-white mt-5">
          <p>Copyright Exo App © 2020. All rights reserved.</p>
        </div>
      </div>
      <div class="col-md-5 mt-5 px-auto">
        <div class="card card-sm card-form-ku mx-auto">
          <div class="card-block p-4">
            <form th:action="@{/verify-code}" th:object="${verifyCodeDto}" method="post">

              <div class="form-group input-group-lg">
                <label for="token">Silahkan buka email anda untuk mendapatkan kode verivikasi.
                  <span class="small text-info">*Kode akan expired dalam jangka waktu 5 menit.</span>
                </label>
                <input maxlength="6" type="text" th:field="*{token}" class="form-control mb-1" id="token" name="token"
                  autocomplete="off" autofocus onkeyup="myFunction()" style="text-align: center;font-weight: bolder;">
                <small class="text-danger" th:each="error : ${#fields.errors('token')}" th:text="${error}"></small>
              </div>

              <div class="form-actions">
                <button type="submit" class="btn btn btn-dark btn-lg btn-block">Verifikasi</button>
              </div>
              
					  <div class="mt-5">
						<a th:href="@{/sign-up}" class="btn btn-sm btn-outline-dark">
							Sign Up
						</a>
						<a th:href="@{/resend-code}" class="btn btn-sm btn-outline-dark">
							Resend Code
						</a>
					</div>
				</form>
          </div>
        </div>
      </div>
    </div>
  </div>
<source th:insert="fragments.html :: js">
</body>

</html>