    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0 On Going
      </div>
      <strong>Copyright &copy; 2020 <a href="http://ekosutrisno.github.io">Eko Sutrisno</a>.</strong> All rights
      reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->