<th:block xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:fragment="end">
  <!-- jQuery -->
  <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
  <!-- Bootstrap 4 -->
  <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
  <!-- AdminLTE App -->
  <script th:src="@{/dist/js/adminlte.min.js}"></script>

  <!-- untuk alamat dan append ke masing-masing view -->
  <th:block layout:fragment="mahasiswa"></th:block>

</th:block>