<aside class="main-sidebar sidebar-dark-primary">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle">
    <span class="brand-text font-weight-light">Exo App V.1.0</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-header ml-2">PERSONAL</li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Profil
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/data" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Edit Profil</p>
              </a>
            </li>
          </ul>
        </li>

        <li sec:authorize="hasRole('ADMIN')" class="nav-header">DATA</li>
        <li sec:authorize="hasRole('ADMIN')" class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Data
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/app/dashboard/mahasiswa" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Mahasiswa</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-header">ALAT</li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Calendar
              <span class="badge badge-info right">2</span>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>