<body>
  <html lang="id" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Title -->
    <title th:text="${errorMsg}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
  </head>

  <body class="bg-dark text-white py-5">
    <div class="container py-3">
      <div class="row">
        <div class="col-md-2 text-center">
          <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: <span th:text="${kode}"></span></p>
        </div>
        <div class="col-md-10">
          <h3>OPPSSS!!!! Maaf...</h3>
          <h1 class="lead" th:text="${errorMsg}"></h1>
          <p th:text="${pesanPanjang}"> </p>
          <a class="btn btn-danger" href="javascript:history.back()"><i class="fa fa-fw fa-arrow-left"></i> Go Back</a>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <img th:src="${urlgambar}" alt="Access-Denied" style="width: 500px;">
        </div>
      </div>
    </div>

    <div class="text-center">
      <p class="lead">Exo App V.1.0 from Eko Sutrisno</p>
    </div>
  </body>

  </html>