<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Fragment #1 : Headerfiles contains css and js references -->

<head th:fragment="headerfiles">
  <title th:text="${judul}"></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="/css/cssku.css">
  <link rel="shortcut icon" type="icon" th:href="@{/img/favicon.ico}">

</head>

<body class="bg-dark text-white">
  <!-- Fragment #2 : Navbar contains nav links -->
  <div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">

      <h1 class="navbar-brand text-warning" href="#">Exo App V.1.0</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{~/}"><i class="fa fa-fw fa-home"></i> Home</a>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" href="#" th:href="@{~/app/profile}"><i class="fa fa-fw fa-user-alt"></i> Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{~/about}"><i class="fa fa-fw fa-question"></i> About</a>
          </li>
          <li sec:authorize="hasRole('ADMIN')" class="nav-item">
            <a class="nav-link" href="#" th:href="@{~/app/management}"><i class="fa fa-fw fa-swatchbook"></i>
              Management</a>
          </li>

          <li sec:authorize="hasAnyRole('ADMIN','USER')" class="nav-item">
            <a class="nav-link" href="#" th:href="@{~/app/dashboard}"><i class="fa fa-fw fa-key"></i> Dashboard</a>
          </li>
        </ul>

        <form th:action="@{/logout}" class="form-inline mr-3" method="post">
          <h5 class="text-white" sec:authorize="isAuthenticated()"><i class="fa fa-fw fa-user-graduate mr-1"></i><span
              sec:authentication="name" class="lead my-auto mr-3"></span></h5>
          <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm"
            type="submit">Logout <i class="fa fa-fw fa-sign-in-alt"></i></button>
        </form>

        <form class="form-inline mr-3">
          <a sec:authorize="!isAuthenticated()" th:href="@{~/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm "
            type="submit">Sign In <i class="fa fa-fw fa-sign-in-alt"></i></a>
          <a sec:authorize="!isAuthenticated()" th:href="@{~/sign-up}" class="btn btn-info my-2 my-sm-0 btn-sm ml-3"
            type="button">Sign Up <i class="fa fa-fw fa-user-plus"></i></a>
        </form>
      </div>
    </nav>
  </div>


  <footer th:fragment="footer">
    <div id="footer" class="footer-1">
      <div class="main-footer widgets-dark typo-light">
        <div class="container">
          <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget subscribe no-box">
                <h5 class="widget-title">Exo App V.1.0<span></span></h5>
                <p>Merupakan aplikasi uji coba guna mengingat semua pelajaran sebelumnya.</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget no-box">
                <h5 class="widget-title">Quick Links<span></span></h5>
                <ul class="thumbnail-widget">
                  <li>
                    <div class="thumb-content"><a href="#.">Get Started</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#.">Top Leaders</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#.">Success Stories</a></div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget no-box">
                <h5 class="widget-title">Get Started<span></span></h5>
                <p>Yuk belajar bareng java dengan Trainer keren Pak Bowo.</p>
                <a sec:authorize="!isAuthenticated()" class="btn btn-ku" th:href="@{~/sign-up}">Register Now</a>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">

              <div class="widget no-box">
                <h5 class="widget-title">Contact Us<span></span></h5>

                <p><a href="mailto:ekosutrisno801@gmail.com" title="glorythemes">ekosutrisno801@gmail.com</a></p>

                <h3 class="sosmed">
                  <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>

                  <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>

                  <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>

                  <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i></a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>Copyright Exo App © 2020. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <section th:fragment="js">
    <!-- jQuery -->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/popper/popper.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/scripku.js}"></script>
  </section>
</body>

</html>